html
  box-sizing: border-box

  *, *:before, *:after
    box-sizing: inherit

html, body
  height: 100%

//General
body
  background-color: $background
  color: $body-text
  font-family: $body-font
  font-size: 16px

.page-content
  padding: 4em

h1
  +header-font-style
  margin-bottom: 0.8em

h2
  +body-font-style(1.4em)
  margin-bottom: 0.6em

h3
  +body-font-style(1.2em)
  margin-bottom: 0.6em

p
  +body-font-style
  padding-bottom: 1em
  margin-bottom: 1.4em

a
  text-transform: uppercase
  color: $highlight
  text-decoration: none

  &:hover, &:active, &:focus
    color: $hover-highlight
    transition: .2s ease

  &:focus
    outline-color: $background
    border-bottom: 1px dotted $hover-highlight
ul
  +body-font-style
  margin-bottom: 0.8em

button
  border: none
  background: $highlight
  cursor: pointer

  &:focus
    outline: 0
  &:hover
    transition: .25s ease
    background: $hover-highlight

// Navigation
.nav-button
  position: fixed
  right: 0
  width: 6em
  height: 6em
  margin: 2.2em 3.5em
  border-radius: 50%
  z-index: 2

  .menu-label, .hide-label
    display: none

    &.show
      color: $white
      text-transform: uppercase
      font-size: 0.85em
      display: block

.nav-icon
  width: 56%
  height: 1.4em
  margin: 0.2em auto 1.2em
  +transform-rotate
  +transition-transform-ease(0.5s)

  span
    display: block
    position: absolute
    height: 3px
    width: 100%
    background: $white
    border-radius: 10px
    +transform-rotate
    +transition-transform-ease(0.25s)

  span#icon-top
    top: 3px

  span#icon-middle
    top: 12px

  span#icon-bottom
    top: 21px

  &.open span#icon-top
    top: 3px
    left: 39%
    width: 64%
    +transform-rotate(rotate(45deg))

  &.open span#icon-middle
    top: 3px
    left: -3%
    width: 64%
    +transform-rotate(rotate(-45deg))

  &.open span#icon-bottom
    top: 9px
    width: 85%
    left: 7.5%
    +transform-rotate(rotate(90deg))

.nav-panel
  display: flex
  position: absolute
  width: 100%
  height: 7.2em
  top: -8.2em
  padding-right: 3em
  background: rgba(17,40,72,.98)//rgba(0,67,96,.97)//rgba(4,19,41,.97)//rgba(10,32,63,.97)
  box-shadow: 0 3px 32px rgba(0,0,0,.4)
  align-items: center
  +transition-ease(.3s)

  ul
    display: flex
    flex-direction: row
    width: 100%
    justify-content: space-evenly
    padding: 0 8em 0 4em
    text-decoration: none
    list-style: none
    font-size: 1.1em

.nav-panel.show
  top: 0
  position: fixed

//Panels
.panel
  display: flex

  .info-section
    flex: 1

  .image-panel
    display: flex
    flex: 1
    max-width: 100%
    padding: 0 1.5em

    a:focus
      border-bottom: none

    .selectable-image
      img
        width: 100%
        height: auto
        +image-shadow

#landing
  height: 100%
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center

  h1, h2
    display: flex
    +fade-on-load(1s)

  a
    font-size: 1.2em

  .profile-photo
    border-radius: 50%
    width: 9em
    height: auto
    margin: 2em
    -webkit-filter: grayscale(40%)
    filter: grayscale(40%)
    +fade-on-load(2s)

  .landing-nav
    display: flex
    width: 100%
    flex-direction: row
    justify-content: space-between
    padding: 10em 10em 3em
    font-size: 1.1em
    +fade-on-load(2s)

  @keyframes fadein
    from
      opacity: 0
      transform: scale(1.1)

    to
      opacity: 1
      transform: scale(1)

  @-moz-keyframes fadein /* Firefox */
    from
      opacity: 0
      transform: scale(1.1)
    to
      opacity: 1
      transform: scale(1)

  @-webkit-keyframes fadein /* Safari and Chrome */
    from
      opacity: 0
      transform: scale(1.1)
    to
      opacity: 1
      transform: scale(1)

  @-o-keyframes fadein /* Opera */
    from
      opacity: 0
      transform: scale(1.1)
    to
      opacity: 1
      transform: scale(1)

#about .nav-panel .about
  color: lighten($hover-highlight, 10%)

#portfolio
  .nav-panel .portfolio
    color: lighten($hover-highlight, 10%)

  .selectable-image
    &:first-of-type
      z-index: 1
    &:nth-of-type(2)
      z-index: 2
    &:last-of-type
      z-index: 3

    &:hover
      transform: translateY(-0.4em) scale(1.02)
      +transition-ease()

#projects
  .nav-panel .portfolio
    color: lighten($hover-highlight, 10%)

  .project-journey
    .stage-1, .stage-2, .stage-3, .stage-4
      border-top: 1px dotted
      border-color: $highlight
      margin: 0
      padding: 2em 1em
      display: flex
      min-height: 30em

      .info-section
        padding: 0 1em

      .image-panel
        flex: 1

        .project-image
          flex: 1
          background-size: contain
          background-repeat: no-repeat
          background-position: center
          justify-content: center

    .stage-1, .stage-3
      border-left: 1px dotted $highlight
      border-top-left-radius: 2em
      border-bottom-left-radius: 2em
      margin-right: 2em
      padding-right: 0
      padding-left: 2em

      .journey-stage
        +project-journey-stage
        left: 3em

    .stage-1
      border-top: 0
      border-top-right-radius: 0
      border-top-left-radius: 0
      padding-top: 0

    .stage-2, .stage-4
      border-right: 1px dotted $highlight
      border-top-right-radius: 2em
      border-bottom-right-radius: 2em
      margin-left: 2em
      padding-left: 0
      padding-right: 2em

      .journey-stage
        +project-journey-stage
        right: 3em

    .stage-4
      border-bottom-right-radius: 0
      border-bottom-left-radius: 0

    .stage-1 .project-image
      background-image: url("/images/test-image.png")

    .stage-2 .project-image
      background-image: url("/images/test-image.png")

    .stage-3 .project-image
      background-image: url("/images/test-image.png")

    .stage-4 .project-image
      background-image: url("/images/test-image.png")

#contact .nav-panel .contact
  color: lighten($hover-highlight, 10%)
