html
  box-sizing: border-box

  *, *:before, *:after
    box-sizing: inherit

html, body
  height: 100%

//General
body
  background-color: $background
  color: $body-text
  font-family: $body-font
  font-size: 16px

.page-content
  padding: 4em

h1
  +header-font-style

h2
  +body-font-style($font-size: 1.4em)

h3
  +body-font-style($font-size: 1.2em)

p
  +body-font-style($margin-bottom: 1em)
  padding-bottom: 1em

a
  color: $highlight
  text-transform: uppercase
  text-decoration: none
  +transition-ease(.2s)

  &:hover, &:active, &:focus
    color: $hover-highlight

  &:focus
    outline-color: $background
    border-bottom: 1px dotted $hover-highlight

ul
  +body-font-style($margin-bottom: 0.8em)

button
  background: $highlight
  border: none
  cursor: pointer

  &:focus
    outline: 0

  &:hover, &:focus
    background: $hover-highlight
    +transition-ease


// Navigation
.nav-button
  width: 6em
  height: 6em
  position: fixed
  right: 0
  margin: 2.2em 3.5em
  border-radius: 50%
  z-index: 4

  .menu-label, .hide-label
    display: none

    &.show
      display: block
      color: $white
      text-transform: uppercase
      font-size: 0.85em

.nav-icon
  width: 56%
  height: 1.4em
  margin: 0.2em auto 1.2em
  +transform($transform: rotate(0deg))

  span
    width: 100%
    height: 3px
    display: block
    position: absolute
    background: $white
    border-radius: 10px
    +transition-ease(0.25s)

  #icon-top
    top: 3px

  #icon-middle
    top: 12px

  #icon-bottom
    top: 21px

  &.open #icon-top
    width: 64%
    top: 3px
    left: 39%
    +transform($transform: rotate(45deg))

  &.open #icon-middle
    width: 64%
    top: 3px
    left: -3%
    +transform($transform: rotate(-45deg))

  &.open #icon-bottom
    left: 7.5%
    top: 9px
    width: 85%
    +transform($transform: rotate(90deg))

.nav-panel
  width: 100%
  height: 7.2em
  display: flex
  position: absolute
  top: -8.2em
  align-items: center
  padding-right: 3em
  background: rgba(17,40,72,.98)//rgba(0,67,96,.97)//rgba(4,19,41,.97)//rgba(10,32,63,.97)
  box-shadow: 0 3px 32px rgba(0,0,0,.4)
  +transition-ease(.3s)

  ul
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-evenly
    padding: 0 8em 0 4em
    text-decoration: none
    list-style: none
    font-size: 1.1em

.nav-panel.show
  position: fixed
  top: 0

//Panels
.panel
  display: flex

  .info-section
    flex: 1

  .image-panel
    max-width: 100%
    display: flex
    flex: 1
    padding: 0 1.5em

    a:focus
      border-bottom: none

    .selectable-image
      img
        width: 100%
        height: auto
        box-shadow: -10px 0px 7px -6px rgba(0,0,0,0.6)

#landing
  height: 100%
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center

  h1, h2
    display: flex
    +fade-on-load(2s)

  a
    font-size: 1.2em

  .profile-photo
    width: 9em
    height: auto
    margin: 2em
    border-radius: 50%
    filter: grayscale(40%)
    -webkit-filter: grayscale(40%)
    +fade-on-load(1s)

  .landing-nav
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 10em 10em 3em
    font-size: 1.1em
    +fade-on-load(2.5s)

  @keyframes fadein
    from
      opacity: 0
      transform: scale(1.1)

    to
      opacity: 1
      transform: scale(1)

  @-moz-keyframes fadein /* Firefox */
    from
      opacity: 0
      transform: scale(1.1)
    to
      opacity: 1
      transform: scale(1)

  @-webkit-keyframes fadein /* Safari and Chrome */
    from
      opacity: 0
      transform: scale(1.1)
    to
      opacity: 1
      transform: scale(1)

  @-o-keyframes fadein /* Opera */
    from
      opacity: 0
      transform: scale(1.1)
    to
      opacity: 1
      transform: scale(1)

#about .nav-panel .about
  color: lighten($hover-highlight, 10%)

#portfolio
  .nav-panel .portfolio
    color: lighten($hover-highlight, 10%)

  .selectable-image

    &:first-of-type
      z-index: 1

    &:nth-of-type(2)
      z-index: 2

    &:last-of-type
      z-index: 3

    &:hover
      +transform (translateY(-0.4em) scale(1.02))
      +transition-ease

#projects
  .nav-panel .portfolio
    color: lighten($hover-highlight, 10%)

  .project-journey
    .stage
      min-height: 30em
      display: flex
      margin: 0
      padding: 2em 1em
      border-top: 1px dotted
      border-color: $highlight

      %journey-stage-marker
        position: absolute
        height: 30px
        width: 30px
        border-radius: 50%
        background-color: $highlight
        border: 7px solid $background
        z-index: 2

        &:before
          content: ''
          position: absolute
          border-radius: 50%
          height: 34px
          width: 34px
          border: 2px solid $highlight
          top: -9px
          left: -9px

      .info-section
        padding: 0 1em

      .image-panel .project-image
        flex: 1
        justify-content: center
        background-size: contain
        background-repeat: no-repeat
        background-position: center

    .stage.odd
      margin-right: 2em
      padding-right: 0
      padding-left: 2em
      border-left: 1px dotted $highlight
      border-top-left-radius: 2em
      border-bottom-left-radius: 2em

      .journey-marker
        @extend %journey-stage-marker
        left: 3em

    .stage.even
      margin-left: 2em
      padding-right: 2em
      padding-left: 0
      border-right: 1px dotted $highlight
      border-top-right-radius: 2em
      border-bottom-right-radius: 2em

      .journey-marker
        @extend %journey-stage-marker
        right: 3em

    .stage:first-of-type
      padding-top: 0
      border-top: 0
      border-top-right-radius: 0
      border-top-left-radius: 0

      .project-image
        background-image: url("/images/test-image.png")

    .stage:nth-of-type(2)
      .project-image
        background-image: url("/images/test-image.png")

    .stage:nth-of-type(3)
      .project-image
        background-image: url("/images/test-image.png")

    .stage:last-of-type
      border-bottom-right-radius: 0
      border-bottom-left-radius: 0

      .project-image
        background-image: url("/images/test-image.png")

#projects .svg-test

  .stage
    padding: 0

    &.odd, &.even
      padding: 0

  .panel
    flex: 1
    padding: 0 1em 1em

  .journey-lines
    position: absolute
    width: 5px
    padding-top: 17px
    fill: none
    stroke-width: 5px
    stroke: $white

#contact .nav-panel .contact
  color: lighten($hover-highlight, 10%)
