body
  background-color: var(--color-bg)
  color: var(--text-color)
  font-family: $body-font
  font-size: 16px
  font-kerning: normal

body[data-theme-animate]
  +transition-ease(1s)

main
  min-height: calc(100vh - 160px)
  padding: 3.4em 10em 1.8em
  overflow-x: hidden

h1
  +header-font-style

h2
  +subheader-font-style

h3
  margin-top: 1.2em
  +subheader-font-style($font-size: 1.2em)

h4
  margin-top: 1.2em
  +subheader-font-style($font-size: 1.1em)
  text-align: left

p
  +body-font-style

  a
    text-transform: none
    border-bottom: 1px dotted var(--highlight)
    color: var(--highlight)

a
  text-transform: uppercase
  text-decoration: none
  color: var(--highlight)
  +transition-ease(.2s)

  &:hover, &:active
    color: var(--hover-highlight)

  &:focus
    outline-color: var(--color-bg)
    border-bottom: 1px dotted var(--hover-highlight)

ul
  +body-font-style($padding: 0)
  margin: 0.8em 0
  padding-left: 1.6em

  li
    padding-bottom: 0.4em

main ul li::before
  position: absolute
  margin-left: -0.9em
  content: '\2022'
  color: var(--highlight)
  font-size: 21px
  line-height: 1.2

.js-loading-image *, .js-loading-image *:before, .js-loading-image *:after
  animation-play-state: paused !important

/**Button Styles
  */
.btn-animate
  width: 4em
  height: 4em
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: relative
  background: var(--button)
  border-radius: 50%
  border: none
  cursor: pointer
  font-size: 1em
  color: $white

  .label, .hide
    display: none
    position: absolute
    bottom: 1.1em
    font-family: $header-font
    font-size: 0.6em
    font-weight: 500
    text-transform: uppercase

    &.visible
      display: block

  &::after
    width: 100%
    height: 100%
    display: block
    position: absolute
    top: 0
    left: 0
    content: ""
    border-radius: 50%
    background-color: $white
    opacity: 0
    transform: scale(0.2)
    +transition-ease(0.3s)

  &:hover::after
    opacity: 0.2
    transform: scale(1)

  &:focus
    background: var(--hover-highlight)
    outline: 0
    +transition-ease

.btn-menu
  position: fixed
  right: 0
  margin: 1.8em 2.2em
  z-index: 5
  box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.5)

  .icon-container
    transform: translateY(-4px)
    width: 24px
    height: 17px
    position: relative
    +transition-ease(.25s)

    span
      width: 100%
      height: 3px
      position: absolute
      display: block
      top: 0
      left: 0
      border-radius: 3px
      background: $white
      +transition-ease(.25s)
      transform-origin: center left

      &:nth-of-type(2)
        transform: translateY(7px)

      &:nth-of-type(3)
        transform: translateY(14px)
        transform-origin: center right

    &.open
      transform: translateY(-8px)

      span
        &:first-of-type
          transform: translateX(12px) rotate(40deg) scaleX(0.55)

        &:nth-of-type(2)
          transform: translate(12px, -1px) rotate(90deg) scaleX(0.88)

        &:nth-of-type(3)
          transform: translateX(-12px) rotate(-40deg) scaleX(0.55)

/**Navigation
  */
.nav-panel
  width: 100%
  height: 7.6em
  display: flex
  position: absolute
  top: calc(-7.6em - 20px)
  align-items: center
  padding: 0 2.2em
  background: #172940
  box-shadow: 0 3px 20px rgba(0,0,0,.4)
  +transition-ease(.3s)
  z-index: 4

  .home
    min-width: 3em
    min-height: 3em
    background: url('/../images/profile-photo.jpg') no-repeat
    background-size: contain
    border-radius: 50%
    border: none

  .nav-links
    display: flex
    flex-grow: 1
    -webkit-flex-grow: 1
    flex-direction: row
    justify-content: space-evenly
    margin: 0
    padding: 0 4em 0 0
    +nav-font-style
    opacity: 1

    a
      display: flex
      align-items: center
      margin: 0 0.5em
      text-align: center
      color: var(--button)
      border-bottom: 1px dotted transparent

      &:hover
        color: var(--hover-highlight)

.nav-panel.show
  position: fixed
  top: 0

/**Footer
  */
footer
  display: flex
  flex-direction: column
  justify-content: center
  margin-top: 2em
  padding: 2.5em 10em
  background-color: var(--footer-bg)

  #theme-switch
    padding-bottom: 0

  .footer-text
    display: flex
    flex-direction: row
    justify-content: space-between
    opacity: 0.7

  .footer-links
    display: flex
    align-items: center

    a
      padding: 0 0.8em
      font-size: 1.1em
      color: var(--text-color)

      &:hover
        color: var(--highlight)

/**Toggle
  */
.toggle-switch
  width: 45px
  height: 25px
  position: relative
  display: inline-block

.switch input
  width: 0
  height: 0
  opacity: 0

.slider
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  cursor: pointer
  background-color: var(--button)
  border-radius: 34px
  font-family: IcoFont
  +transition-ease

.slider::before
  width: 17px
  height: 17px
  position: absolute
  left: 4px
  bottom: 4px
  border-radius: 34px
  content: '\ee81'
  color: var(--color-bg)
  +transition-ease

input:checked + .slider
  background-color: var(--button)

input:checked + .slider::before
  padding-left: 1px
  content: '\ef9e'
  color: var(--color-bg)
  transform: translateX(18px)

#theme-switch
  position: absolute
  left: 0
  padding: 0 0 2.2em 2.2em

/**Back to Top
  */
#scroll-top-link
  position: fixed
  bottom: 2.8em
  right: 2.2em
  line-height: 0.5
  opacity: 0
  pointer-events: none
  transform: translateY(2em)
  +transition-ease

  a
    display: flex
    flex-direction: column
    align-items: center
    font-family: $header-font

  i
    font-size: 2em

  span
    font-size: 0.85em
    user-select: none

  &.visible
    opacity: 1
    pointer-events: initial
    transform: translateY(0)

/**Grid
  */
.skills-grid
  display: grid
  grid-template-columns: repeat(3, 1fr)
  text-align: center

  .item-1
    grid-column-start: 1

  .item-2
    grid-column-start: 2

  .item-3
    grid-column-start: 3

  .ellipse
    width: 6em
    height: 6em
    display: flex
    align-items: center
    justify-content: center
    margin: 2em auto 1.2em
    padding: 0
    border-radius: 50%
    border: 1px dotted var(--subheader-color)

    i
      color: var(--subheader-color)
      font-size: 2.5em

  h4
    +subheader-font-style($font-size: 1.1em)

  ul
    margin-top: 0.25em
    padding: 0

    li::before
      content: ''

/** Panels
 */
.panel
  display: flex
  justify-content: center

  .info-section
    flex: 1
    align-self: center

  &:first-of-type
    .info-section
      align-self: flex-start

  .image-section
    padding: 0 0 0 2em

    .project-image img
      max-width: 100%
      opacity: 0

      &.lazy
        animation-play-state: paused !important

    @for $n from 1 through 8
      .project-image:nth-of-type(#{$n}) img
        +image-slide-in-left(#{$n * 0.1}s)

  &:nth-of-type(even) .image-section
    padding: 0 2em 0 0

    @for $n from 1 through 8
      .project-image:nth-of-type(#{$n}) img
        +image-slide-in-right(#{$n * 0.1}s)

  .image-section
    flex: 1
    justify-items: center
    align-items: center
    display: grid

    &.image-grid
      align-items: flex-start

      &.two-col
        +default-image-grid ($columns: 2, $rows: 1)

      &.three-col
        +default-image-grid ($columns: 3, $rows: 1)
        align-items: center

        .project-image
          padding: 0 1em

      &.four-col
        +default-image-grid ($columns: 4, $rows: 1)

        .project-image
          padding: 0 1em

      &.five-col
        +default-image-grid ($columns: 5, $rows: 1)

      &.mobile img
        max-height: 18em

    &.default-image-layout
      +default-image-grid

      &.one-img img
        max-height: 22em

      &.two-img
        +default-image-grid ($columns: 5, $rows: 3)
        .project-image
          grid-column: 1 / span 3
          grid-row: 1 / span 2

          &:nth-child(2)
            grid-column: 3 / span 3
            grid-row: 2 / span 2

      &.three-img
        +default-image-grid ($columns: 4, $gap: 0.6em)
        .project-image
          grid-column: 1 / span 2
          grid-row: 1 / span 2

          &:nth-child(1)
            grid-column: 1 / span 2

          &:nth-child(2)
            grid-column: 3 / span 2

          &:nth-child(3)
            grid-column: 2 / span 2
            grid-row: 2 / span 2

      &.four-img
        +default-image-grid ($columns: 2, $rows: 3, $gap: 0.6em)
        .project-image
          grid-column: 1 / span 1
          grid-row: 1 / span 2

          &:nth-child(2)
            grid-column: 2 / span 1
            grid-row: 2 / span 2

          &:nth-child(3)
            grid-column: 3 / span 1
            grid-row: 1 / span 2

          &:nth-child(4)
            grid-column: 4 / span 1
            grid-row: 2 / span 2

      &.five-img
        +default-image-grid ($columns: 4, $gap: 0.6em)
        .project-image
          grid-column: 1 / span 2
          grid-row: 1 / span 2
          align-self: center

          &:nth-child(2)
            grid-column: 3 / span 1
            grid-row: 1 / span 1

          &:nth-child(3)
            grid-column: 4 / span 1
            grid-row: 1 / span 1

          &:nth-child(4)
            grid-column: 3 / span 1
            grid-row: 2 / span 1

          &:nth-child(5)
            grid-column: 4 / span 1
            grid-row: 2 / span 1

    &.perspective
      perspective: 1800px

      @for $n from 1 through 4
        .project-image:nth-child(#{$n})
          grid-column: $n / span 2
          grid-row: 1

      .project-image
        transform: rotateY(45deg)

        img
          border-radius: 1em
          overflow: hidden
          +image-box-shadow

      &.two-img
        grid-template-columns: repeat(3, 1fr)

      &.three-img
        grid-template-columns: repeat(4, 1fr)

      &.four-img
        grid-template-columns: repeat(5, 1fr)

section.panel:first-of-type .image-section
  margin-top: 1.8em

/** Divider
  */
.ellipses-divider
  margin: 2em auto
  text-align: center

  span
    width: 5px
    height: 5px
    display: inline-block
    margin: 3px
    border-radius: 50%
    background-color: var(--subheader-color)
    opacity: var(--body-text-opacity)

/** Journey
  */
.journey
  display: flex

  .marker
    display: flex
    position: relative
    flex: 1
    flex-direction: column
    align-items: center
    text-align: center
    opacity: 0

    &::after
      width: 0
      height: 2px
      position: absolute
      top: 1.98em
      left: calc(50% + 1.3em)
      background: var(--button)
      content: ''

    @for $n from 1 through 8
      &.visible:nth-of-type(#{$n})
        +journey-line-animation-desktop(#{($n - 1) * 0.6}s)

        &:last-of-type::after
          display: none

    .marker-label
      margin: 0.6em
      color:  var(--subheader-color)
      cursor: pointer

      h2
        color: var(--highlight)
        font-size: 0.9em

        i
          display: none

      h4
        margin: 0.2em auto 0.6em
        text-align: center
        +body-font-style
        line-height: 1.3
        padding: 0

  .btn-timeline
    z-index: 2

    i
      font-size: 2em

    &:hover
      color: $white

    &.active
      background: var(--hover-highlight)

.journey-with-stages
  .journey-stage-titles
    display: flex
    padding: 2em 0 1em

    .stage-name
      color: var(--subheader-color)
      text-align: center
      text-transform: uppercase
      font-size: 0.8em

      &:nth-of-type(even)
        color: var(--highlight)

  .journey
    .marker
      &::after
        top: 1.78em
        height: 1px
        background: var(--button)

      &.stage-one
        .journey-stage
          border: 1px dotted var(--subheader-color)
          color: var(--subheader-color)

        &::after
          background: var(--subheader-color)

    .stage-container
      z-index: 1

      .journey-stage
        width: 3.6em
        height: 3.6em
        display: flex
        align-items: center
        justify-content: center
        border-radius: 50%
        background: var(--color-bg)
        border: 1px dotted var(--button)
        color: var(--highlight)

        i
          font-size: 1.8em

    .marker-label
      font-size: 0.9em

.slide-down-panel
  display: none
  padding: 1.3em 2em 1.8em 1.4em

  &.show
    display: block

    .panel-heading
      margin-bottom: 1.7em

      h2
        margin: 0.2em
        color: var(--highlight)
        font-size: 0.9em
        +slide-down

      h3
        margin: 0
        opacity: 0
        +slide-down($delay: .2s)

    .slide-in
      opacity: 0

      @for $n from 1 through 10
        &.slide-in:nth-child(#{$n})
          +slide-down(#{($n * 0.2) + 0.2}s)

/*Tabs
  **/
.tabs-container
  display: flex
  margin-bottom: 1em

  .tab
    display: flex
    flex: 1
    position: relative
    margin-right: .2em
    cursor: pointer
    +transition-ease ($speed: .3s)

    &:last-child
      margin-right: 0

    &:hover, &:focus, &.selected
      opacity: 0.7

.tab-section
  .tab-heading
    margin: .7em 0 1.2em

  .slide-down-panel
    padding: 1.3em 0 0
