$background: #1b3849 //#1f4154
$highlight: #567b92 //#648FAA
$text: #edcbcb
$hover-text: #B9A8AD
$nav-hover: #6e9dba

$font-main: 'Titillium Web', sans-serif
$font-title: 'Volkhorn SC', serif

html
  box-sizing: border-box

  *, *:before, *:after
    box-sizing: inherit

h1
  font-family: $font-title
  font-size: 3em

h2
  font-size: 1.6em

a
  color: $text
  text-decoration: none

  &:hover
    color: $hover-text
    transition: .4s ease
  &:active
    color: $hover-text

html, body
  height: 100%

body
  background-color: $background
  font-size: 14px
  color: $text
  font-family: $font-main

.container
  height: 100%
  display: flex
  flex-direction: column

.nav
  $width: 4.2em
  $margin: 2em
  position: absolute
  top: $margin
  left: auto
  right: $margin
  padding: 0.3em
  background-color: $highlight
  width: $width
  border-radius: $width / 2

  ul
    list-style: none
    padding: 0.75em 0

    &:hover
      background-color: $nav-hover
      border-radius: $width / 2


  li
  text-align: center
  display: inline

  .material-icons
    font-size: 2.5em

  .nav-text
    font-size: 0.7em

  a:hover
    color: $text


#landing-content
  display: flex
  flex: 1
  flex-direction: column
  justify-content: center
  align-items: center

  h1
    padding: 15px 0

  h2
    font-family: $font-title
  img
    height: 14em
    width: 14em
    border-radius: 50%
    filter: grayscale(50%)
