// Transform components on page load
@keyframes fade-in-scale
  from
    opacity: 0
    transform: scale(1.1)

  to
    opacity: var(--header-text-opacity)
    transform: scale(1)

@keyframes translateY-fade-scale
  from
    opacity: 0
    transform: scale(1.05) translateY(5px)

  to
    opacity: 1
    transform: scale(1) translateY(0)

@keyframes image-slide-right
  from
    opacity: 0
    transform: translateX(-12px) translateY(-2px)

  to
    opacity: 1
    transform: translateX(0) translateY(0)

@keyframes image-slide-left
  from
    opacity: 0
    transform: translateX(12px) translateY(-2px)

  to
    opacity: 1
    transform: translateX(0) translateY(0)

//Interactive components
@keyframes slide-down
  from
    opacity: 0
    transform: translateY(-10px)

  to
    opacity: var(--body-text-opacity)
    transform: translateY(0)

@keyframes journey-button-show
  from
    opacity: 0

  to
    opacity: 1

@keyframes journey-line-animation
  100%
    width: calc(100% - 2.6em)
