//Transitions
=transition-ease($speed: 0.25s)
  -webkit-transition: $speed ease-in-out
  -moz-transition: $speed ease-in-out
  -o-transition: $speed ease-in-out
  transition: $speed ease-in-out

=transition-transform-ease($speed: 0.5s)
  -webkit-transition: transform $speed ease-in-out
  -moz-transition: transform $speed ease-in-out
  -o-transition: transform $speed ease-in-out
  transition: transform $speed ease-in-out

=transform-rotate($rotate: rotate(0deg))
  -webkit-transform: $rotate
  -moz-transform: $rotate
  -o-transform: $rotate
  transform: $rotate

=fade-on-load($speed: 1s)
  animation: fadein $speed
  -moz-animation: fadein $speed
  -webkit-animation: fadein $speed
  -o-animation: fadein $speed

  //Styling
=image-shadow()
  box-shadow: 0px 0px 7px rgba(0,0,0,0.6)

=body-font-style($font-size: 1em)
  color: $body-text
  font-family: $body-font
  font-size: $font-size
  line-height: 1.4em

=header-font-style($font-size: 4em)
  font-family: $header-font
  color: $heading-text
  font-size: $font-size
  font-weight: 700

=project-journey-stage
  position: absolute
  height: 30px
  width: 30px
  border-radius: 50%
  background-color: $highlight
  border: 7px solid $background

  &:before
    content: ''
    position: absolute
    border-radius: 50%
    height: 34px
    width: 34px
    border: 2px solid $highlight
    top: -9px
    left: -9px

