//Transitions
=transition-ease($speed: 0.25s)
  -webkit-transition: $speed ease-in-out
  -moz-transition: $speed ease-in-out
  -o-transition: $speed ease-in-out
  transition: $speed ease-in-out

=transform-ease($speed: 0.5s)
  -webkit-transition: transform $speed ease-in-out
  -moz-transition: transform $speed ease-in-out
  -o-transition: transform $speed ease-in-out
  transition: transform $speed ease-in-out

=transform-rotate($rotate: rotate(0deg))
  -webkit-transform: $rotate
  -moz-transform: $rotate
  -o-transform: $rotate
  transform: $rotate

=fade-on-load($speed: 1s)
  animation: fadein $speed
  -moz-animation: fadein $speed
  -webkit-animation: fadein $speed
  -o-animation: fadein $speed

//Styling
=header-font-style($font-size: 4em, $margin-bottom: 0.8em)
  font-family: $header-font
  color: $heading-text
  font-size: $font-size
  font-weight: 700
  margin-bottom: $margin-bottom

=body-font-style($font-size: 1em, $margin-bottom: 0.6em)
  color: $body-text
  font-family: $body-font
  font-size: $font-size
  line-height: 1.4em
  margin-bottom: $margin-bottom

