/**Styles
  */
=header-font-style($font-size: 4em, $margin-bottom: 0.8em)
  margin-bottom: $margin-bottom
  color: var(--text-color)
  font-family: $header-font
  font-size: $font-size
  font-weight: bold
  text-align: center
  opacity: var(--header-text-opacity)

=subheader-font-style($font-size: 1.4em, $margin-bottom: 0, $opacity: 0.85)
  margin-bottom: $margin-bottom
  line-height: 1.4em
  color: var(--subheader-color)
  font-family: $body-font
  font-size: $font-size
  text-align: center
  opacity: $opacity

=body-font-style($font-size: 1em, $padding: 0.6em)
  padding: $padding 0
  line-height: 1.4em
  color: var(--text-color)
  font-family: $body-font
  font-size: $font-size
  opacity: var(--body-text-opacity)

=image-box-shadow
  box-shadow: -10px 2px 7px -6px rgba(0,0,0,0.5)

/** Transitions and Animations
  */
=transition-ease($speed: .25s, $timing-function: ease-in-out)
  transition: $speed $timing-function

=transform($transform)
  transform: $transform

=fade-on-load($speed: .8s)
  animation: fade-in-scale $speed
  animation-fill-mode: forwards

=translate-scale-on-load($speed: .4s, $delay: .4s)
  animation: translateY-fade-scale $speed $delay cubic-bezier(0.42, 0.0, 1.0, 1.0)
  animation-fill-mode: forwards

=image-slide-in-right($delay: 0)
  animation: image-slide-right 1s
  animation-delay: $delay
  animation-fill-mode: forwards

=image-slide-in-left($delay: 0)
  animation: image-slide-left 1s
  animation-delay: $delay
  animation-fill-mode: forwards

=slide-down($delay: 0s, $duration: .4s)
  animation: slide-down $duration $delay cubic-bezier(0.0, 0.0, 0.58, 1.0)
  animation-fill-mode: forwards

/** Components
  */
=default-image-grid($columns: auto, $rows: auto, $gap: 0)
  grid-template-columns: repeat($columns, 1fr)
  grid-template-rows: repeat($rows, 1fr)
  grid-gap: $gap

=journey-line-animation($delay)
  animation: journey-button-show 0.75s linear
  animation-delay: $delay
  animation-fill-mode: forwards

  &::after
    animation: journey-line-animation 0.75s
    animation-delay: $delay
    animation-fill-mode: forwards
