//Page specific
#landing
  height: 100%
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center

  h1, h2
    display: flex
    margin-bottom: 0.6em
    +fade-on-load(2s)

  h2
    margin-top: 0
    font-size: 1.6em

  a
    font-size: 1.2em

  .profile-photo
    width: 9.4em
    height: 9.4em
    margin: 4.2em 2em 2.2em
    border-radius: 50%
    border: 0.2em solid var(--highlight)
    +fade-on-load(2s)

  .landing-nav
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    opacity: 0
    padding: 10em 10em 3em
    font-size: 1.1em
    font-weight: 600
    +translate-on-load(1.5s)

#about .nav-panel .about
  color: var(--hover-highlight)
  border-bottom: 1px dotted var(--hover-highlight)

#portfolio
  .nav-panel .portfolio
    color: var(--hover-highlight)
    border-bottom: 1px dotted var(--hover-highlight)

  .panel:first-of-type
    justify-content: center

    .image-panel
      max-width: 65%
      padding: 2em

  .selectable-image

    &:first-of-type img
      z-index: 1

    &:nth-of-type(2)
      z-index: 2
      margin-left: -4em

    &:last-of-type
      z-index: 3
      margin-left: -4em

    img
      +transition-ease

      &:hover
        +transform (translateY(-0.4em) scale(1.03) rotateY(30deg))

#projects
  overflow-x: hidden

  .nav-panel .portfolio
    color: var(--hover-highlight)
    border-bottom: 1px dotted var(--hover-highlight)

  .project-journey
    .stage
      min-height: 30em
      display: flex
      margin: 1.5em 0
      padding: 2em 1em

      %journey-stage-marker
        position: absolute
        height: 30px
        width: 30px
        border-radius: 50%
        background-color: var--(highlight)
        border: 7px solid var(--color-bg)
        z-index: 2

        &:before
          content: ''
          position: absolute
          border-radius: 50%
          height: 34px
          width: 34px
          border: 2px solid var--(highlight)
          top: -9px
          left: -9px

      .info-section
        padding: 0 1em

      .image-panel .project-image
        flex: 1
        justify-content: center
        background-size: contain
        background-repeat: no-repeat
        background-position: center

    .stage.odd .journey-marker
      @extend %journey-stage-marker
      left: 3em

    .stage.even .journey-marker
      @extend %journey-stage-marker
      right: 3em

    .stage:first-of-type
      .project-image
        background-image: url("/images/test-image.png")

    .stage:nth-of-type(2)
      .project-image
        background-image: url("/images/test-image.png")

    .stage:nth-of-type(3)
      .project-image
        background-image: url("/images/test-image.png")

    .stage:last-of-type
      border-bottom-right-radius: 0
      border-bottom-left-radius: 0

      .project-image
        background-image: url("/images/test-image.png")

#projects .svg-test
  .stage
    padding: 0

    &.odd, &.even
      padding: 0

  .panel
    flex: 1
    padding: 0 1em 1em

  .journey-lines
    position: absolute
    padding-top: 17px
    fill: none
    stroke-width: 1px
    stroke: var--(highlight)
    width: 100%
    height: 1000px

    path
      display: none

      &.draw-first
        display: block
        animation: dash 5s linear forwards

      &.draw
        display: block
        animation: dash 5s linear forwards

        @keyframes dash
          to
            stroke-dashoffset: 0

#contact .nav-panel .contact
  color: var(--hover-highlight)
  border-bottom: 1px dotted var(--hover-highlight)
