#landing
  height: 100%
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center

  h1, h2
    display: flex
    margin-bottom: 0.6em
    +fade-on-load(2s)

  h2
    margin-top: 0
    font-size: 1.6em

  a
    font-size: 1.2em

  .profile-photo
    width: 9.4em
    height: 9.4em
    margin: 4.2em 2em 2.2em
    border-radius: 50%
    border: 3px solid var(--highlight)
    +fade-on-load(2s)

  .landing-nav
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    opacity: 0
    padding: 10em 10em 3em
    font-size: 1.1em
    font-weight: 600
    +translate-on-load(1.5s)

#about .nav-panel .about
  color: var(--hover-highlight)
  border-bottom: 1px dotted var(--hover-highlight)

#employment
  .nav-panel .employment
    color: var(--hover-highlight)
    border-bottom: 1px dotted var(--hover-highlight)

  .page-content
    padding: 4em 5em 1.8em

    .slide-down-panel
      padding: 0 5em

#portfolio
  .nav-panel .portfolio
    color: var(--hover-highlight)
    border-bottom: 1px dotted var(--hover-highlight)

  .panel
    justify-content: center

    .image-panel
      max-width: 65%
      padding: 2em

  .selectable-image
    &:first-of-type img
      z-index: 1

    &:nth-of-type(2)
      z-index: 2
      margin-left: -4em

    &:last-of-type
      z-index: 3
      margin-left: -4em

    img
      +transition-ease

      &:hover
        +transform (translateY(-0.4em) scale(1.03) rotateY(30deg))

#projects
  .nav-panel .portfolio
    color: var(--hover-highlight)
    border-bottom: 1px dotted var(--hover-highlight)

  .portfolio-links
    width: auto
    position: absolute
    top: 1.8em

    .button-container
      .back, button:after
        width: 5.8em
        height: 5.8em
        margin-left: 3em
        color: $white

      .back
        span
          font-size: 0.8em
          text-transform: uppercase

        i
          font-size: 2em

    .toggle-display-links
      width: 100%
      display: none
      padding: 0.4em 0 2em 2.9em

      &.show
        display: block

      %project-link
        width: 100%
        display: flex
        flex-direction: row
        align-items: center
        justify-content: flex-start
        padding: 0.4em 0
        opacity: 0

        .button-label
          padding-left: 0.8em
          font-size: 0.7em

        a
          width: 2.2em
          height: 2.2em
          border-radius: 50%

      .meals-up
        @extend %project-link
        color: #f97878
        +slide-down ($duration: .2s)

        .meals-up-bg
          background: url("/images/meals-up-logo.png") no-repeat center 0px
          background-size: cover

      .dashboards
        @extend %project-link
        color: #07a1d7
        +slide-down ($duration: .2s, $delay: .1s)

        .dashboard-bg
          background: url("/images/dashboard-icon.png") no-repeat center 0px
          background-size: cover

      .wedding
        @extend %project-link
        color: #eec232
        +slide-down ($duration: .2s, $delay: .2s)

        .wedding-bg
          background: url("/images/wedding-icon.png") no-repeat center 0px
          background-size: cover

  .project-information

    h2
      text-align: left

    .panel
      &.odd, &.even
        min-height: 300px

      &.even
        margin: 4em 0
        flex-direction: row-reverse

      &:first-of-type
        margin-top: 5em

        h2
          margin-top: 0

    .info-section
      flex: 1

    .image-panel .project-image
      flex: 1
      justify-content: center
      background-size: contain
      background-repeat: no-repeat
      background-position: center
      margin-bottom: 0.5em

    .even .image-panel
      padding: 0 2em 0 0

    .odd .image-panel
      padding: 0 0 0 2em

    &.dashboards .image-panel
      .wireframes
        background-image: url("/images/dashboard/wireframes.png")

      .tile-demo
        background-image: url("/images/dashboard/tile-row.png")

      .journey-section
        background-image: url("/images/dashboard/journey-mock-up.png")

    &.wedding .image-panel
      .screenshots
        background-image: url("/images/wedding/wedding-wireframes.png")

      .initial-designs
        background-image: url("/images/wedding/initial-designs.png")

  // .project-journey
  //   .stage
  //     min-height: 30em
  //     display: flex
  //     margin: 1.5em 0
  //     padding: 2em 1em

  //     %journey-stage-marker
  //       position: absolute
  //       height: 30px
  //       width: 30px
  //       border-radius: 50%
  //       background-color: var--(highlight)
  //       border: 7px solid var(--color-bg)
  //       z-index: 2

  //       &:before
  //         content: ''
  //         position: absolute
  //         border-radius: 50%
  //         height: 34px
  //         width: 34px
  //         border: 2px solid var--(highlight)
  //         top: -9px
  //         left: -9px

  //     .info-section
  //       padding: 0 1em

  //     .image-panel .project-image
  //       flex: 1
  //       justify-content: center
  //       background-size: contain
  //       background-repeat: no-repeat
  //       background-position: center

  //   .stage.odd .journey-marker
  //     @extend %journey-stage-marker
  //     left: 3em

  //   .stage.even .journey-marker
  //     @extend %journey-stage-marker
  //     right: 3em

  //   .stage:first-of-type
  //     .project-image
  //       background-image: url("/images/test-image.png")

  //   .stage:nth-of-type(2)
  //     .project-image
  //       background-image: url("/images/test-image.png")

  //   .stage:nth-of-type(3)
  //     .project-image
  //       background-image: url("/images/test-image.png")

  //   .stage:last-of-type
  //     border-bottom-right-radius: 0
  //     border-bottom-left-radius: 0

  //     .project-image
  //       background-image: url("/images/test-image.png")

// #projects .svg-test
  .stage
    padding: 0

    &.odd, &.even
      padding: 0

  .panel
    flex: 1
    padding: 0 1em 1em

  .journey-lines
    position: absolute
    padding-top: 17px
    fill: none
    stroke-width: 1px
    stroke: var--(highlight)
    width: 100%
    height: 1000px

    path
      display: none

      &.draw-first
        display: block
        animation: dash 5s linear forwards

      &.draw
        display: block
        animation: dash 5s linear forwards

        @keyframes dash
          to
            stroke-dashoffset: 0

#contact .nav-panel .contact
  color: var(--hover-highlight)
  border-bottom: 1px dotted var(--hover-highlight)
