#landing
  display: flex
  flex-direction: column
  justify-content: space-evenly
  align-content: center

  .title-panel
    text-align: center

    .profile-photo
      max-width: 9.4em
      max-height: 9.4em
      margin: 0 0 3em
      border-radius: 50%
      border: 3px solid var(--highlight)
      +fade-on-load(2s)

    h1, h2
      margin-bottom: 0.6em
      +fade-on-load(2s)

    h2
      font-size: 1.6em

  .landing-nav
    width: 100%
    display: flex
    justify-content: space-evenly
    margin-top: 3em
    padding-left: 0
    font-size: 1.1em
    font-weight: 600
    opacity: 0
    +translate-scale-on-load(1.5s)

    li
      align-self: center
      text-align: center
      font-size: 1.2em
      padding: 0 0.5em

#about .nav-panel .about
  border-bottom: 1px dotted var(--hover-highlight)
  color: var(--hover-highlight)

#employment
  .nav-panel .employment
    border-bottom: 1px dotted var(--hover-highlight)
    color: var(--hover-highlight)

  .journey
    margin: 15% auto 1.5em

#portfolio
  .nav-panel .portfolio
    border-bottom: 1px dotted var(--hover-highlight)
    color: var(--hover-highlight)

  .panel
    display: flex

    .portfolio-images
      max-width: 65%
      display: flex
      padding: 2em

      .selectable-image
        flex: 1
        perspective: 1000px

        &:focus
          border-bottom: none

        img
          width: 100%
          +image-box-shadow
          +transform($transform: rotateY(30deg))

        &:first-of-type img
          z-index: 1

        &:nth-of-type(2)
          z-index: 2
          margin-left: -4em

        &:last-of-type
          z-index: 3
          margin-left: -4em

        img
          +transition-ease

          &:hover
            +transform (translateY(-0.4em) scale(1.03) rotateY(30deg))

#projects
  .nav-panel .portfolio
    border-bottom: 1px dotted var(--hover-highlight)
    color: var(--hover-highlight)

  .portfolio-links
    width: auto
    position: absolute
    top: 1.8em
    left: 2.2em

    .button-container
      .back, button:after
        width: 4em
        height: 4em
        color: $white

      .back
        span
          text-transform: uppercase
          font-size: 0.5em

        i
          font-size: 1.3em

    .toggle-display-links
      width: 100%
      display: none
      padding: 0 0 0.4em 0.4em

      &.show
        display: block

      %project-link
        width: 100%
        display: flex
        flex-direction: row
        align-items: center
        margin: 0.8em 0
        padding-left: 0.5em
        color: var(--subheader-color)
        opacity: 0

        .button-label
          padding-left: 0.4em
          font-size: 0.65em

        &:hover
          svg, .button-label
            opacity: 0.8
            transition: opacity ease-in-out .4s

      .meals-up
        @extend %project-link
        +slide-down ($duration: .2s)

      .dashboards
        @extend %project-link
        +slide-down ($duration: .2s, $delay: .1s)

      .wedding
        @extend %project-link
        +slide-down ($duration: .2s, $delay: .2s)

  .panel:nth-of-type(even)
    flex-direction: row-reverse
    margin: 2em 0

  .project-details
    padding-top: 1em

    h2
      text-align: left

    &.meals-up
      .journey-with-stages
        margin: 1em 0 2em

        .journey .marker:first-of-type
          opacity: 1

        .stage-name
          flex: 2

          &:nth-of-type(even)
            flex: 6

      .image-section.default-image-layout .project-image img
        border-radius: 0.5em
        overflow: hidden

    &.wedding .image-section
      &.three img, &.four img
        max-height: 16.5em

      &.default-image-layout .project-image img
        border-radius: 1em
        box-shadow: 2px -5px 7px 0px rgba(0, 0, 0, 0.2)

      &.initial-designs .project-image
        &:nth-of-type(2) img
          max-height: 16em
          box-shadow: none
          border-radius: 0

      &.end-designs
        max-width: 60%

#contact
  .nav-panel .contact
    border-bottom: 1px dotted var(--hover-highlight)
    color: var(--hover-highlight)

  .contact-details
    margin-top: 6em

    h2
      margin: 1em auto
