@media (min-width: $large-desktop)

  #landing, #about, #projects-landing, #resume, #contact
    main .page-content
      +page-content-width

  .image-section img
    max-height: 90vh

  #projects-landing .panel .project-images
    max-width: 75%

    .selectable-image .hover-label
      font-size: 1em

@media (max-width: $breakpoint-desktop)

  .page-content, .panel, .landing-content, .slide-down-panel
    width: 84%
    max-width: 90%
    margin: 0 auto
    padding-left: 0
    padding-right: 0

  footer
    padding-right: 2.8em
  
  #scroll-top-link
    position: fixed
    bottom: 3.6em
    right: 2.8em

  .next-previous-projects
    padding: 1em 2.5em 1.5em
  
  #landing .landing-content
    width: 100%
    max-width: 90%
    margin: 0 auto

  .screenshots-section .image-section img
    max-height: 70vh

  .image-section img
    max-height: 50vh

  .panel.two-column
    grid-template-columns: 1fr

    .image-section
      margin-bottom: 2em

  .user-stories
    grid-template-columns: repeat(2, 1fr)

  #projects-landing .case-study-tiles .panel
    grid-template-columns: repeat(2, 1fr)
  
  #projects .project-details .panel
    margin: 0 auto 2em

@media (max-width: $breakpoint-tablet)
  .btn-menu
    margin: 1em
    display: flex

    .icon-container.open
      transform: translate(4px, -5px) rotate(90deg)
      transition-delay: .1s

      span
        transition-delay: .1s

  .nav-panel
    width: 0
    height: 100%
    display: flex
    position: fixed
    flex-direction: column
    align-items: flex-start
    top: 0
    right: -7.6em
    padding: 1.8em 2em
    transition: 0.5s
    overflow: hidden
    +light-dark-color(background, $surface-opaque-light, $surface-opaque-dark)

    .nav-links
      width: 100%
      flex-direction: column
      align-items: flex-start
      align-self: flex-end
      justify-content: flex-start
      padding: 4em 0.5em

      a
        margin: 1em 0
        white-space: nowrap

    &.show
      width: 240px
      display: flex
      right: 0

  #scroll-top-link
    bottom: 1.7em
    right: 1.7em

    a
      height: 32px
      flex-direction: row
      justify-content: center
      padding: 0 0.8em 0 0.4em
      +light-dark-color(background, $accent-light, $accent-dark)
      border-radius: 2em
      cursor: pointer
      box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.5)

      i, span
        +light-dark-color(color, $white, $accent-light)

        &:hover
        +light-dark-color(color, $white, $accent-light)

      i
        font-size: 1.5em

    &.visible
      opacity: 0.95

  #resume .journey
    max-width: 84%
    flex-direction: column
    margin: 0 auto 1em

    .marker
      flex-direction: row

      &.active .btn-timeline
        opacity: 1

      .btn-animate
        margin: 1.5em 0.5em
        min-width: 48px

      &::after
        width: 2px
        height: 0
        top: 2.2em
        left: 2em

      @for $n from 1 through 8
        &.visible:nth-of-type(#{$n})
          +journey-line-animation-mobile(#{($n - 1) * 0.6}s)
      
      .hidden-mobile-label
        display: none

      .marker-label
        padding-left: 1em
        margin: 0
        line-height: 1
      
        &:last-of-type
          display: none

        &:first-of-type
          order: 2

          h4
            display: block

        h2, h4
          margin: 0
          text-align: left
          font-size: 1em

        h4
          font-size: 1.2em
          line-height: 0.8


  #landing .landing-content

    .title-panel
      align-items: center
      
      .header p, .sub-header p
        max-width: 80%
        margin: 0 auto 1em
        text-align: center

        span
          display: none
    
    .case-study-tiles 
      grid-template-columns: repeat(4, 1fr)
      margin-bottom: 16%

      .feature-case-study
        min-height: 160px

        &:nth-of-type(5)
          display: none

      .more-projects
        position: fixed
        bottom: -50px
        right: calc(50% - 20px)
        padding: 0.6em 1.2em
        border: 1px solid
        +light-dark-color(border-color, $border-light, $border-dark)
        border-radius: $border-radius-small

        &:hover
          +light-dark-color(color, $accent-light, $accent-dark)
          +light-dark-color(border-color, $accent-light, $accent-dark)

        i
          display: none

        span
          opacity: 100%

  #projects-landing .case-study-tiles .panel
    grid-template-columns: 1fr

  #projects

    .project-details
      padding-top: 6em

      h1
        padding-bottom: 0

      .panel .image-section.image-grid
        .mobile img
          max-height: 50vh

        &.four-col.mobile, &.five-col.mobile
          grid-template-columns: repeat(2, 1fr)

        .project-image
          padding-bottom: 1em

      &.dashboard-design .panel .image-section.image-grid
        &.mobile img
          max-height: 50vh

      &.meals-up .two-column.set-col-sizes
        grid-template-columns: 1fr

      &.wedding .image-section.initial-designs
        .project-image:nth-child(2) img
          max-height: 12em

@media (max-width: $breakpoint-mobile)
  body main
    min-height: calc(100vh - 84px)

    > h1, .caption-container
      max-width: 84%
      margin: 0.5em auto 1.2em

  .page-content, .panel, .landing-content, .slide-down-panel 
    max-width: 84%

  .hidden-mobile-label
    display: inline-block

  footer
    max-width: 84%
    flex-direction: row
    padding: 0
    margin: 0 auto

    .theme-copyright
      flex: none
      flex-direction: row
      align-items: center

    .footer-info
      flex-direction: row
      padding-left: 0

      p
        font-size: 1em

      span, .footer-links
        display: none

  .project-links
    margin: 2.4em 1em 0

  .next-previous-projects
    padding: 1em

    .previous, .next
      a
        align-items: center

        span:nth-of-type(2)
          display: none

  .user-stories, .user-task-map
    grid-template-columns: 1fr

  .user-task-map .headings-col
    display: none

  .journey
    flex-direction: column

    .marker
      flex-direction: row

      &.active .btn-timeline
        opacity: 1

      .btn-animate
        margin: 1.5em 0.5em
        min-width: 48px

      &::after
        width: 2px
        height: 0
        top: 2.2em
        left: 2em

      @for $n from 1 through 8
        &.visible:nth-of-type(#{$n})
          +journey-line-animation-mobile(#{($n - 1) * 0.6}s)
      
      .hidden-mobile-label
        display: none

      .marker-label
        padding-left: 1em
        margin: 0
        line-height: 1

        &:first-of-type
          order: 2

          h4
            display: block

        h2, h4
          margin: 0
          text-align: left
          font-size: 1em

        h4
          font-size: 1.2em
          line-height: 0.8

  .journey-with-stages
    display: flex

    .marker::after
      left: 1.8em

    .journey-stage-titles
      flex-direction: column
      margin-right: 1em

  #image-expand-modal.open
    overflow: auto

    img
      width: 100%
      height: auto
      top: 75px
      left: 0
      transform: translate(0, 0)
      margin-top: 0

    .modal-close
      top: 1.5em
      right: calc(50% - 16px)

  .slide-down-panel
    //padding: 1.3em 0

  .full-width-panel-highlight
    padding-top: 1.5em
    margin-bottom: 2em

  .panel
    flex-direction: column
    margin-bottom: 0.5em

    .image-section
      padding: 0 0 2em 0
      
      &.overlap.three-img
        padding-bottom: 0

  #landing
    .landing-content
      height: auto
      max-width: 84%
      align-items: center

      .title-panel .sub-header p
        margin: 0 auto
        max-width: 100%

      .case-study-tiles
        width: 90%
        grid-auto-flow: row
        grid-template-columns: 1fr
        grid-row-gap: 2em
        align-self: center
        align-items: center
        justify-items: center

        a.feature-case-study
          align-self: center
          max-width: 380px
          width: 100%
          min-height: 210px

        .more-projects
          position: relative
          right: auto
          bottom: auto
          text-align: center
          width: 100%
          max-width: 380px
    
    footer
      position: relative

  #about, #projects-landing, #projects, #resume, #contact
    main
      padding: 18% 0 1%

      .journey .marker.visible.toggle-panel .tag-label
        margin-left: 0.6em
  
    .card-grid, .image-section.three-col, .image-section.four-col
      grid-template-columns: 1fr

  #featured, #projects-landing
    .feature-case-study
      grid-template-columns: 1fr

      .info-section, .project-type
        justify-content: center
        text-align: center
        padding: 1em 1em 2em

      .feature-image
        height: 200px

  #projects
    main.project-details
      padding-top: 6.6em
      
      section:first-of-type
        margin: 4em auto 2em

      &.dashboard-design
        .full-width-panel-highlight:first-of-type
          margin-top: -2.5em

        .tabs-container
          padding: 1.4em 1em 1em

          .tab
            line-height: 1.2
            border-radius: $border-radius-small

            &.selected, &:hover
              +light-dark-color(background-color, $accent-light, $accent-dark)
              border-bottom: none
              background: none
              -webkit-background-clip: unset
              background-clip: unset
              -webkit-text-fill-color: unset
              +light-dark-color(color, $text-primary-dark, $text-primary-dark)


      &.meals-up .user-story .journey-with-stages br 
        display: none
        margin: 0.8em 0
      
      .testimonials-grid
        row-gap: 1.2em

        .item:first-of-type
          grid-column: 1

  #resume main
    h1
      max-width: 84%

    .panel
      .open-resume
        display: block

      .download-resume
        display: none

    .team-members
      justify-content: center

  #contact

    .contact-blurb
      flex-direction: column
      text-align: center

      h2
        text-align: center
    
    .contact-details
      grid-template-columns: 1fr
      grid-template-rows: 1fr 1fr
      grid-row-gap: 1em

      .contact-method
        padding: 1em