@media (max-width: $breakpoint-desktop)
  .nav-panel ul
    padding: 0 3em 0 0

  .page-content
    padding: 4em 5em 1.8em

  #portfolio .panel .portfolio-images
    max-width: 80%

  #projects
    .portfolio-links
      left: 2em
      z-index: 1

@media (max-width: $breakpoint-tablet)
  .page-content
    padding: 4.5em 2em 1.8em

    h1:first-of-type
      padding: 0 1em 0 0

  .nav-icon.open
    margin: 0.7em 0 0.7em 0.85em
    transform: rotate(90deg)

  .nav-panel
    width: 0
    height: 100%
    display: flex
    flex-direction: column
    align-items: flex-start
    position: fixed
    top: 0
    right: -7.6em
    padding: 1.8em 2em
    transition: 0.5s
    overflow: hidden

    ul
      flex-direction: column
      align-items: flex-end
      align-self: flex-end
      justify-content: flex-start
      margin-left: 2em
      padding: 4em 0 0 0

      li
        padding: 1em 0
        white-space: nowrap

    &.show
      width: auto
      display: flex
      right: 0

  .journey
    flex-direction: column
    align-items: flex-start

    .marker
      flex-direction: row
      align-items: flex-start
      margin: 1em

      &::after
        display: none

      .marker-label
        padding-left: 1em
        text-align: left

  .journey-with-stages
    display: flex

    .journey-stage-titles
      flex-direction: column

  #landing
    padding: 3em 2em 2em 2em
    justify-content: space-around

    .profile-photo
      max-width: 6em
      max-height: 6em

    .landing-nav
      flex-direction: column

      li
        padding: 0.5em 0

@media (max-width: $breakpoint-mobile)
  .nav-button
    margin: 1em

  .nav-panel
    padding: 1em

  h1
    +header-font-style($font-size: 2.8em)

  .page-content
    padding: 5.5em 1em 1.8em

    h1:first-of-type
      padding: 0

  #projects
    h1:first-of-type
      padding-top: 1em

    .portfolio-links
      display: flex
      align-items: flex-end

      .button-container
        width: auto
        height: 3em

        .back
          height: 100%
          width: auto
          display: flex
          flex-direction: column
          justify-content: space-between
          align-items: center
          padding: 0.1em 0 0 0
          background: var(--color-bg)
          color: var(--highlight)
          border-radius: 0

          i::before
            content: '\ea5c'
            font-size: 1.2em

          span
            font-size: 0.6em

      .toggle-display-links.show
        display: flex

      .toggle-display-links
        width: auto
        display: flex
        padding: 0

        .project-link
          flex-direction: column
          margin: 0 !important

          .button-label
            padding: 1em 0 0 0


  .panel
    flex-direction: column

    .image-section
      padding: 1em 2em

      &.default-image-layout.three
        grid-template-columns: repeat(3, 1fr)

        .project-image
          &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3)
            grid-column: span 1
            grid-row: 1 / span 1

          &:nth-of-type(2)
            grid-column-start: 3

          &:nth-of-type(3)
            grid-column-start: 2

  #projects .panel:nth-of-type(even)
    flex-direction: column
    margin: 1em 0

    .image-section
      padding: 1em 2em

  #about .skills-grid
    grid-template-columns: repeat(1, 1fr)

    .item-1, .item-2, .item-3
      grid-column-start: 1

  #portfolio .panel
    align-items: center

    .portfolio-images
      margin: 4em auto
      padding: 0

  #projects .project-details.wedding .image-section
    &.initial-designs
      padding: 1em 0 1em 3em

      .project-image:nth-of-type(2) img
        max-height: 11em

    &.end-designs
      max-width: 100%

