@media (min-width: $large-desktop)

  #landing, #about, #projects-landing, #resume, #contact
    main
      +page-content-width(8em)

  main h1:first-of-type
    margin-bottom: 2em

  .page-content-width
    +page-content-width(22em)

  .image-section img
    max-height: 75vh

  #projects
    .page-content-width
      +page-content-width(30em)

    .user-stories
      grid-gap: 3.5em

    .extra-padding, .panel .extra-padding, .screenshots-section
      +page-content-width(10em)

  .slide-down-panel .full-width-panel-highlight
    padding: 3em 3em 4em

  #projects-landing .panel .project-images
    max-width: 65%

    .selectable-image .hover-label
      font-size: 1rem

@media (max-width: $breakpoint-desktop)
  main
    padding-top: 3em

  .page-content-width
    +page-content-width(5em)

  .btn-menu
    margin: 1.8em 0.8em

  .nav-panel ul
    padding: 0 3em 0 0

  #scroll-top-link
    right: 2em

  .screenshots-section .image-section img
    max-height: 70vh

  .image-section img
    max-height: 50vh

  .panel.two-column
    grid-template-columns: 1fr

    .image-section
      margin-bottom: 2em

  .full-width-panel-highlight .intro-text-callout
    margin: 0

  .user-stories
    grid-template-columns: repeat(2, 1fr)

  .skills-grid.extra-padding, .user-task-map.extra-padding
    padding: 0

  #landing .landing-content .title-panel .header p.about-summary
    width: 60%
    padding: 1em 2em

  #projects
    .panel .project-images
      padding: 2em 0 0

    .project-details.dashboard-design
      .panel.screenshots-section, .user-stories.extra-padding
        padding: 0 0.5em

@media (max-width: $breakpoint-tablet)
  main
    padding-top: 4.5em

    h1:first-of-type
      padding: 0 1em

  .page-content-width
    +page-content-width(2em)

  .btn-menu
    margin: 1em

    .icon-container.open
      transform: translate(4px, -5px) rotate(90deg)
      transition-delay: .1s

      span
        transition-delay: .1s

  .nav-panel
    width: 0
    height: 100%
    display: flex
    position: fixed
    flex-direction: column
    align-items: flex-start
    top: 0
    right: -7.6em
    padding: 1.8em 2em
    transition: 0.5s
    overflow: hidden

    .nav-links
      flex-direction: column
      align-items: flex-end
      align-self: flex-end
      justify-content: flex-start
      margin: 0 1.2em 0 3em
      padding: 4em 0 0 0

      a
        margin: 1em 0
        white-space: nowrap

    &.show
      width: auto
      display: flex
      right: 0

  #scroll-top-link
    bottom: 1.2em
    right: 1.5em

    a
      height: 27px
      flex-direction: row
      justify-content: center
      padding: 0 1em 0 0.5em
      background-color: var(--primary-accent)
      border-radius: 2em
      line-height: 1
      color: $white
      cursor: pointer
      box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.5)

      i
        font-size: 1.5rem
        color: $white

      span
        color: $white

    &.visible
      opacity: 0.95

  .extra-padding, .panel .extra-padding, .screenshots-section
    +page-content-width(1em)

  .skills-grid
    grid-template-columns: 1fr

  .panel .image-section.image-grid
    &.two-col, &.three-col, &.four-col
      grid-template-columns: 1fr

  #landing
    .landing-content
      padding: 2em

      .landing-nav
        justify-content: space-around
        margin: 1em 0

        a
          margin: 0.5em 0
          font-size: 0.9rem

      .title-panel
        .header p.about-summary
          width: 80%
          padding: 1em 2em

        .page-content-width p
          padding: 3em 1em 0

        .profile-photo
          max-width: 6em
          max-height: 6em

        .skill p
          padding: 0 0 1.5em 0

  #projects

    .project-details
      padding-top: 6em

      h1
        padding-bottom: 0

      .panel .image-section.image-grid
        .mobile img
          max-height: 50vh

        &.four-col.mobile, &.five-col.mobile
          grid-template-columns: repeat(2, 1fr)

        .project-image
          padding-bottom: 1em

      &.dashboard-design .panel .image-section.image-grid
        &.mobile img
          max-height: 50vh

      &.meals-up .two-column.set-col-sizes
        grid-template-columns: 1fr

      &.wedding .image-section.initial-designs
        .project-image:nth-child(2) img
          max-height: 12em

  #resume main
    padding-left: 0
    padding-right: 0

@media (max-width: $breakpoint-mobile)
  .page-content-width
    +page-content-width(1em)

  #landing, #about, #projects-landing
    main
      padding: 4.2em 0.8em 0.5em

  #landing .landing-nav a:last-of-type
    display: none

  #resume, #contact
    main
      padding: 4.2em 1.8em 0.5em

      .journey .marker.visible.toggle-panel .tag-label
        margin-left: 0.6em


  #projects-landing, #projects
    .project-links
      margin: 2.4em 1em 0

    .next-previous-projects
      padding: 1em

      .previous, .next
        a
          align-items: center

          span:nth-of-type(2)
            display: none

  main
    ul li::before
      line-height: 1.5

    h1:first-of-type
      padding: 0 1.8em 0 0
      text-align: left
      font-size: 2.5rem

  h4, p, a, ul
    line-height: 1.75

  .hidden-mobile-label
    display: inline-block

  footer
    flex-direction: column
    padding: 1em 1em 3em 1em

    .theme-copyright
      flex-direction: column

    .footer-info
      padding: 1em 0

      i
        display: none

      p, a
        font-size: 0.8em

  #landing footer
    flex-direction: row
    padding: 1em

    .theme-copyright
      flex-direction: row
      align-items: center

  .extra-padding, .panel .extra-padding, .screenshots-section
    +page-content-width(0.6em)

  .user-stories, .user-task-map
    grid-template-columns: 1fr

  .user-task-map .headings-col
    display: none

  .journey
    flex-direction: column

    .marker
      flex-direction: row
      margin: 1em 0

      &::after
        width: 2px
        height: 0
        top: 2.2em
        left: 2em

      @for $n from 1 through 8
        &.visible:nth-of-type(#{$n})
          +journey-line-animation-mobile(#{($n - 1) * 0.6}s)

      .marker-label
        padding-left: 1em
        margin: 0.2em 0
        line-height: 1

        &:first-of-type
          order: 2

          h4
            display: block

        h2, h4
          text-align: left

  .journey-with-stages
    display: flex

    .marker::after
      left: 1.8em

    .journey-stage-titles
      flex-direction: column
      margin-right: 1em

  #image-expand-modal.open
    overflow: auto

    img
      width: 100%
      height: auto
      top: 75px
      left: 0
      transform: translate(0, 0)
      margin-top: 0

  .slide-down-panel
    padding: 1.3em 0

  .panel
    flex-direction: column

    .image-section
      padding: 0.2em 0.5em 1em

      &.default-image-layout.three-img
        grid-template-columns: repeat(3, 1fr)

        .project-image
          &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3)
            grid-column: span 1
            grid-row: 1 / span 1

          &:nth-of-type(2)
            grid-column-start: 3

          &:nth-of-type(3)
            grid-column-start: 2

    &.two-column.two-row
      padding: 3em 0
      grid-gap: 1.5em

  .tabs-container
    flex-direction: column

    .tab
      margin: 0 0 0.2em 0

  #landing
    .landing-content
      padding: 0.5em

      .landing-nav a
        font-size: 0.75rem

      .title-panel
        .header
          h1
            margin: 0 0.4em 0.5em

          .profile-photo
            max-width: 5em
            max-height: 5em

          p.about-summary
            width: 100%
            padding: 2em 0.5em 0

        .page-content-width .skills-list
          display: none

  #featured, #projects-landing
    .feature-case-study
      grid-template-columns: 1fr

      .info-section, .skills-list, .project-type
        justify-content: center
        text-align: center

        h3, p
          text-align: center

      .feature-image
        width: 100%
        height: 94px

  #projects
    main.project-details
      padding-top: 6.6em

      &.dashboard-design
        section:first-of-type
          margin-top: 0

        .tab-section .slide-down-panel
          .screenshots-section
            padding-bottom: 0

          .intro-text-callout
            padding: 0 1em

            .image-section
              padding: 0 0.2em 0.5em

              .project-image
                padding: 0

        .tab-link-reports .user-stories
          grid-template-columns: 1fr

      &.wedding .image-section
        &.initial-designs
          padding: 1em 0 1em 3em

          .project-image:nth-child(2) img
            max-height: 11em

        &.end-designs
          max-width: 100%

  #resume
    .panel
      .open-resume
        display: block

      .download-resume
        display: none

    .journey .marker .marker-label:last-of-type
      display: none

    .team-members
      justify-content: center

  #contact .contact-details
    grid-template-columns: 1fr
    grid-template-rows: 1fr 1fr
    grid-row-gap: 1em

    .contact-method
      padding: 1em
