\:root
  --color-bg: #fbfcfe
  --text-color: #021738
  --header-text-opacity: 0.85
  --body-text-opacity: 0.9

[data-theme="dark"]
  --color-bg: #021738
  --text-color: #E1E5E9
  --header-text-opacity: 0.8
  --body-text-opacity: 0.65

$background: #021738//#070338//#0A203F //#050039
$highlight: #EE8927
$hover-highlight: #F8AB51 //too light - change slightly for buttons only (hovered text links are ok in this color)
$white: #fff
$header-font: 'Quattrocento', serif
$body-font: 'Quattrocento Sans', sans-serif

//$heading-text: rgba(225, 229, 233, 0.9) //#E1E5E9
//$body-text: rgba(225, 229, 233, 0.65)
//$header-font: 'Archivo', serif
//$body-font: 'Archivo', serif
