\:root
  --color-bg: #fbfcfe
  --highlight: #f2a356
  --hover-highlight: #f9bc75
  --text-color: #0A2239
  --subheader-color: #647993 //#5B6F87//#848f9c
  --header-text-opacity: 0.85
  --body-text-opacity: 0.9

[data-theme="dark"]
  --color-bg: #0A2239//#0f2437//#0A2239
  --highlight: #EE8927
  --hover-highlight: #F8AB51
  --text-color: #E1E5E9
  --subheader-color: #848f9c //change color
  --header-text-opacity: 0.9
  --body-text-opacity: 0.7

$white: #fff
$header-font: 'Quattrocento', serif
$body-font: 'Quattrocento Sans', sans-serif

$breakpoint-desktop: 1024px
$breakpoint-tablet: 768px
$breakpoint-mobile: 600px
