<!DOCTYPE html>
<html>

<head>
  <title>Danielle Parkinson</title>
  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="author" content="Danielle Parkinson">
  <meta name="description" content="Danielle Parkinson's Portfolio">
</head>

<body>
  <div class="nav">
    <ul>
      <li>My Work</li>
      <li>About Me </li>
      <li>Contact</li>
    </ul>
  </div>

  {{ content }}

</body>

</html>
