<!DOCTYPE html>
<html>

<head>
  <title>Danielle Parkinson</title>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quattrocento+Sans|Quattrocento:400,700" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="/assets/fonts/icofont/icofont.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/main.css" />

  {% if page.preloads %}
  {% for url in page.preloads %}
  <link rel="prefetch" href="{{ url }}" as="image" />
  {% endfor %}
  {% endif %}

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="author" content="Danielle Parkinson" />
  <meta name="description" content="Danielle Parkinson's Portfolio" />
  <script defer src="/scripts/nav.js"></script>
  <script defer src="/scripts/loading.js"></script>
  <script defer src="/scripts/theme-toggle.js"></script>
  <script defer src="/scripts/slide-down-panel.js"></script>
  <script defer src="/scripts/timeline-animation.js"></script>
  <!-- <script defer src="/scripts/line-draw.js"></script> -->
</head>


<body id="{{ page.id }}" data-theme="light">

  {% if page.portfolio-nav %}
  {% include {{ page.portfolio-nav }} %}
  {% endif %}

  {{ content }}

</body>

</html>
