<!DOCTYPE html>
<html>

<head>
  <title>Danielle Parkinson</title>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <!-- <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Archivo:400,700" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans|Quattrocento:400,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/assets/fonts/icofont/icofont.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/main.css" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="author" content="Danielle Parkinson" />
  <meta name="description" content="Danielle Parkinson's Portfolio" />
  <script defer src="/scripts/nav.js"></script>
  <script defer src="/scripts/theme-toggle.js"></script>
  <script defer src="/scripts/slide-down-panel.js"></script>
  <script defer src="/scripts/line-draw.js"></script>
</head>

<body id="{{ page.id }}" data-theme="light">
  {{ content }}
</body>

</html>
