---
layout: base
---

<div class="navigation">
  <button class="nav-button">
    <div class="nav-icon">
      <span id="icon-top"></span>
      <span id="icon-middle"></span>
      <span id="icon-bottom"></span>
    </div>
    <span class="button-label show">Menu</span>
    <span class="hide-label">Hide</span>
  </button>

  <div class="nav-panel">
    <a href="/index"><button class="home"></button></a>

    <ul>
      <li><a class="about" href="/about/">About Me & Skills</a></li>
      <li><a class="employment" href="/employment/">Employment History</a></li>
      <li><a class="portfolio" href="/portfolio/">Portfolio</a></li>
      <li><a class="contact" href="/contact/">Get in Touch</a></li>
    </ul>
  </div>
</div>

{{ content }}

<div id="theme-switch">
  <label class="toggle-switch">
    <input type="checkbox" id="theme-toggle">
    <span class="slider"></span>
  </label>
</div>
