---
layout: base
---

<nav>
  <button class="btn-animate btn-menu">
    <div class="icon-container">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <span class="label visible">Menu</span>
    <span class="label hide">Hide</span>
  </button>

  <div class="nav-panel">
    <a class="home" href="/index"></a>
    <div class="nav-links">
      <a class="about" href="/about">About Me & Skills</a>
      <a class="portfolio" href="/portfolio">Portfolio</a>
      <a class="employment" href="/employment">Employment History</a>
      <a class="contact" href="/contact">Get in Touch</a>
    </div>
  </div>

</nav>

{{ content }}

<div id="theme-switch">
  <label class="toggle-switch">
    <input type="checkbox" id="theme-toggle">
    <span class="slider"></span>
  </label>
</div>
